@CHARSET "ISO-8859-1";
.form{
	background-color:white;
	height:100%;
	width:105%;
	margin-left:-10px;
	margin-top:80px;
	padding-bottom:30px;
}
#heading{
	font-family:Times New Roman;
	color:red;
	font-size:230%;
	padding-bottom:20px;
}
input[type=number]{
	padding-left:10px;
	margin-left:80px;
	box-sizing:border-box;
	width:20%;
	font-size: 16px;
	border:2px solid black;
	padding-top:15px;
	padding-bottom:10px;
	border-radius:3px;
}

#card{
	font-size:140%;
}

#cvv{
	font-size:140%;
}

#amt{
	font-size:140%;
}
 input[type=submit]
{   background-color:red;
	padding-left:20px;
	padding-right:20px;
	margin-top:20px;
	margin-left:10px;
	padding-bottom:20px;
	padding-top:20px;
	color:white;
	cursor:pointer;
	font-family:Times New Roman;
	font-size:100%;;
	padding-top:8px;
	padding-bottom:8px;
	
}