@CHARSET "ISO-8859-1";
.header{
	padding:5px;
	background-color:#cc0000;
	height:200%;
	float:left;
	width:200%;
	overflow:auto;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-20px;

}

.header img{
	margin-top:-30px;
	float:left;
	width:200px;
	height:200px;
	
	
}

.header h1{
	position:relative;
	font-size:300%;
	font-family:Algerian;
	text-align:center;
	color:#cccccc;
	font-weight:italic;
    left:-700px;
	

}

.header p{
	position:relative;
	font-size:150%;
	font-family:Monotype Corsiva;
	text-align:center;
	color:#cccccc;
	left:-700px;
}

.navbar{
	width:200%;
	overflow:auto;
	background-color:#555;
	margin-left:-10px;
	
}

.navbar a{
	float:left;
	text-align:center;
	padding:15px;
	color:white;
	text-decoration:none;
	font-size:20px;
	
}

.navbar a:hover,.dropdown:hover .dropbtn{
	background-color:#000;
}

.active{
	background-color:#cc0000;

	
	
	
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #555;
  font-family: inherit;
  margin: 0;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #555;
  color:white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.regform{
	background-color:#d9d9d9;
	height:100%;
	width:105%;
	margin-left:-10px;
	margin-top:-20px;
	padding-bottom:30px;
    background-image: radial-gradient(#394b52, #d9d9d9, #546e78);

}
#heading{
	padding-top:30px;
	margin-left:580px;
	font-family:Times New Roman;
	color:black;

}
input[type=text],input[type=email],textarea[type=text],input[type=password],input[type=number],select{
	background-color:#394b52;
	color:#cccccc;
	padding-left:10px;
	margin-left:80px;
	box-sizing:border-box;
	width:20%;
	font-size: 16px;
	border:2px solid black;
	padding-top:15px;
	padding-bottom:10px;
	border-radius:3px;
	
}
 #fn{
	 font-size:140%;
 }
 #ln{
	 font-size:140%;
 }
 #em{
	 font-size:140%;
 }
 #ps{
	 font-size:140%;
 }
 #cp{
	 font-size:140%;
 }
 #lo{
	 font-size:140%;
	 margin-left:25px;
 }
 #pl{
	 font-size:140%;
	 margin-left:330px;
 }

 #fn1{
	 margin-top:20px;
 }
 
 #em1{
	 margin-left:95px;
 }
 #ps{
	 margin-left:10px;
 }
 #cp{
	 margin-left:-65px;
	 width:100%;
	
 }
 
 input[type=submit]
{
	background-color:#394b52;
	padding-left:10px;
	margin-top:20px;
	margin-left:200px;
	border:2px solid black;
	padding-bottom:10px;
	padding-top:10px;
	border-style:groove;
	color:#cccccc;
	cursor:pointer;
	font-family:Times New Roman;
	font-size:85%;;
	padding-top:8px;
	padding-bottom:8px;
}
input[type=radio]{
	height:15px;
	width:15px;
	font-family:Times New Roman;
	font-size:100px;
	margin-left:50px;	
}
input[type=checkbox]{
		height:15px;
		width:15px;
		font-family:Times New Roman;
		font-size:100px;
		margin-left:50px;
}
	
#gn{
	font-size:140%;
	margin-left:-50px;
}
#eng{
	margin-left:420px;
}
#hi{
	margin-left:408px;
}
#ma{
	margin-left:610px;
}
#sc{
	margin-left:565px;
}
#so{
	margin-left:490px;
}
#sa{
	margin-left:432px;
}
#co{
	margin-left:585px;
}
#es{
	margin-left:565px;
}
#ph{
	margin-left:430px;
}
#ch{
	margin-left:460px;
}
#bi{
	margin-left:435px;
}
#mat{
	margin-left:675px;
}
#com{
	margin-left:720px;
}
#acc{
	margin-left:455px;
}
#eco{
	margin-left:465px;
}
#ep{
	margin-left:525px;
}
#bs{
	margin-left:515px;
}
#pa{
	margin-left:350px;
}

#dr{
	margin-left:358px;
}
#da{
	margin-left:355px;
}
#sk{
	margin-left:370px;
}
#ca{
	margin-left:385px;
}
#ac{
	margin-left:385px;
}
#ec{
	font-size:140%;
	margin-left:-340px;
}
#ec{
	font-size:140%;
}
#nl{
	font-size:140%;
	margin-left:-370px;
}
#sp{
	margin-left:375px;
}
#fr{
	margin-left:373px;
}
#tr{
	margin-left:378px;
}
#sw{
	margin-left:385px;
}
#ru{
	margin-left:380px;
}
#ge{
	margin-left:380px;
}
#sb{
	font-size:140%;
	margin-left:-420px;
}
#cl{
	font-size:140%;
	margin-left:5px;
}
#fe{
	font-size:140%;
	margin-left:50px;
}
#al{
	font-size:140%;
	margin-left:-45px;
}
#age{
	font-size:140%;
	margin-left:60px;
}
#ql{
	font-size:140%;
	margin-left:-10px;
}
		