@CHARSET "ISO-8859-1";
.header{
	padding:5px;
	background-color:#cc0000;
	height:200%;
	float:left;
	width:200%;
	overflow:auto;
	margin-top:-10px;
	margin-left:-10px;
	margin-right:-20px;

}

.header img{
	margin-top:-30px;
	float:left;
	width:200px;
	height:200px;
	
	
}

.header h1{
	position:relative;
	font-size:300%;
	font-family:Algerian;
	text-align:center;
	color:#cccccc;
	font-weight:italic;
    left:-700px;
	

}

.header p{
	position:relative;
	font-size:150%;
	font-family:Monotype Corsiva;
	text-align:center;
	color:#cccccc;
	left:-700px;
}
.Split{
	padding-left:30px;
	height:100%;
	background-color:#22373e;
	margin-top:-23px;
	margin-left:-10px;
	overflow:auto;

}

.Split a{
	float:left;
	text-align:center;
	padding:22px;
	color:white;
	text-decoration:none;
	font-size:22px;
	font-family:Times New Roman;

}
.active{
	background-color:#cc0000;
	
}
.Split a:hover{
	background-color:#7f8184;
}

.left{
	left:0;
	width:20%;
	background-color:#121214;
	padding-bottom:75px;
}

.right{
	right:0;
	width:80%;
	background-color:#7f8184;
	margin-left:21.5%;
	margin-top:-565px;
}

.Split h2{
	margin-left:30%;
}